h1 {
  text-align: center;
  font-size: 28pt;
  max-width: 80%;
  color: black;
}

h2 {
  color: black
}

h3 {
  float: right;
  font-size: 36pt;
  margin: 25px 25% 100px 0;
  color: #1c4587;
}

.rowC {
  background-color: #d0eaf3d4;
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.imgLeft {
  width: 400px;
  height: auto;
  padding: 20px;
  float: left;
}

.imgRight {
  width: 400px;
  height: auto;
  padding: 20px;
  float: right;
}

.left {
  max-width: 50%;
  height: auto;
  padding: 20px;
  float: left;
}

.right {
  max-width: 50%;
  height: auto;
  padding: 20px;
  float: right;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

h4 {
  font-size: 30pt;
  color:#03a5fc;
  text-align: center;
  font-weight: normal;
  float: left;
}

h5 {
  font-size: 20pt;
  color: #88b3e1;
  text-align: center;
  margin-bottom: 10px;
}
