h1 {
  text-align: center;
  font-size: 28pt;
  margin: 25px 0 50px 0;
  padding: 20px;
  border-bottom: 3px solid black;
  width: 80%;
}

h3 {
  float: right;
  font-size: 36pt;
  margin: 25px 25% 100px 0;
  color: #1c4587;
}

centerAllCont {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.grid {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imgAndName {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.imgAndName:hover {
  background-color: #eaf4f8;
}

.imgAndName img {
  background-color: lightblue;
  margin: 25px;
}

h4 {
  font-size: 24pt;
  color: #1c4587;
  text-align: center;
}

h5 {
  font-size: 20pt;
  color: #88b3e1;
  text-align: center;
  margin-bottom: 10px;
}

.blueBg {
  background-color: #d2ebf4;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.innerBg {
  background-color: #e7f4f9;
  width: 70vw;
  height: 75vh;
  position: fixed;
  left: 15%;
  top: 15%;
  z-index: 3;
}

.bigImg {
  z-index: 3;
  position: fixed;
  top: 12%;
  right: 52%;
  width: 300px;
}

.bigName {
  z-index: 3;
  position: fixed;
  top: 70%;
  left: 28%;
}

.sideText {
  width: 300px;
  color: #1c4587;
  position: fixed;
  z-index: 4;
  top: 18%;
  left: 52%;
}
